* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

}

body {
    background-color: rgb(245, 245, 245);
}

header {
    border: 2px solid #181D27;
    padding: 20px 0px;
    background-color: #69B578;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.menu {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}


nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #181D27;
    font-weight: 500;
    font-size: 24px;
}

nav {
    width: 100%;
}

.razd {
    display: flex;
    gap: 10%;
}

.title-str {
    padding: 50px 0 0 50px;
}

.create-form {
    width: 500px;
    margin: 200px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #D0DB97
}

.create-form>form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.create-form>form>button {
    margin: 25px auto;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #254D32;
    color: white;
    border: 0;
}

.win-reg {
    width: 400px;
    margin: 200px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #D0DB97;
}

.win-reg>form {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.btn-reg {
    margin: 25px auto;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #254D32;
    color: white;
        border: 0;
}

.lab-reg {
    display: flex;
    flex-direction: column;
}

.inp-reg {
    margin-top: 5px;
    padding-left: 5px;
    height: 25px;
}

.btn-auth {
    background: none; 
    border: none; 
    color: inherit; 
    cursor: pointer; 
    padding: 0;
    font-size: 24px;
}

.name-user {
    font-size: 24px;
    color: #ffffff;
}

.tasks {
    display: flex;
    padding: 45px;
    gap: 30px;
    flex-wrap: wrap;
}

.task {
    width: 300px;
    background-color: #D0DB97;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
}

.btn-del {
    margin: 25px auto;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #254D32;
    color: white;
    border: 0;
}

.but {
    display: flex;
    width: 90%;
    justify-content: end;
}

.task>h3 {
    padding-bottom: 20px;
    font-size: 24px;
}

.task>p {

    font-size: 22px;
}


.success {
    display: flex;
    font-size: 24px;
    justify-content: center;
    height: 100px;
    align-items: center;
    border: 2px solid #3A7D44;
    width: 250px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    
}


.success>p {
    
}


.addtxt {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.not-tasks {
    display: flex;
    font-size: 24px;
    justify-content: center;
    height: 100px;
    align-items: center;
    border: 2px solid #3A7D44;
    width: 290px;
    margin: 80px auto;
    text-align: center;
    border-radius: 10px;
}


.warning {
    display: flex;
    font-size: 24px;
    justify-content: center;
    height: 150px;
    align-items: center;
    border: 2px solid #3A7D44;
    width: 290px;
    margin: 80px auto;
    text-align: center;
    border-radius: 10px;
}

.mes {
    color: #a80000;
}